.header {
  background-color: #fff;
  color: #000;
  padding-top: 67px;
}

.title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  color: #293356;
}

.subtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #848ead;
}
